body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  z-index: 999;
  position: sticky;
  top: -1px;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-links::after {
  content: "";

  bottom: -1px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;

  background-color: #404bbf;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-links:hover::after,
.header-menu-links:focus::after,
.header-menu-links.current::after {
  opacity: 1;
}

.header-logo-italik {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-menu-links:hover,
.header-menu-links:focus,
.header-menu-links.current {
  color: #404bbf;
}
.header-menu {
}
.header-menu-item {
}
.header-menu-links {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-address {
  font-style: normal;
}
.header-address {
  margin-left: auto;
}
.header-menu-list {
  display: flex;
  gap: 40px;
}
.header-address-navigation {
  display: flex;
  gap: 40px;
}
.header-navigation {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
}
.header-address-links:hover,
.header-address-links:focus {
  color: #404bbf;
}

.header-address-links {
}
.header-address-links {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero {
}
.main-section {
  padding-top: 188px;
  padding-bottom: 188px;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.container.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1088px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title-effective-solutions {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  max-width: 496px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
}

.order-service {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;

  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service:hover,
.order-service:focus {
  background: #404bbf;
}
.container.advant {
  margin: 0 auto;
}
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container.advant {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 72px) / 4);
}
.social-link-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-card:hover,
.social-link-card:focus {
  background-color: #404bbf;
}

.social-items-team:hover,
.social-items-team:focus {
  background-color: #404bbf;
}
.icon-box {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  fill: #f4f4fd;
  width: 18;
  height: 24;
}

.advantages-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantages-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-item {
  width: calc((100% - 72px) / 4);
  text-align: center;
  display: flex;
  width: 264px; /* ширина картки */
  flex-direction: column; /* текст і іконки вертикально */
  align-items: center; /* іконки по центру */
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.social-linl {
  width: 100%;
  height: 100%;
}

.team-links-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.icon-box-footer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-info {
  background-color: #ffffff;
  padding: 32px 0;
}

.our-team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.our-team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.social-items-team {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-team {
  display: flex;
  justify-content: center;
  width: 232px;
  height: 40px;
  gap: 24px;
}
.our-team-container {
}

.portfolio-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container.portfolio-container {
  flex-direction: column;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .jump-text {
  transform: translateY(0);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.portfolio-jump {
  position: relative;
  overflow: hidden;
}
.jump-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f4fd;
  background: #4d5ae5;

  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex; /* робимо флекс-контейнер */
  flex-wrap: wrap; /* дозволяємо карткам переноситися на наступний рядок */
  justify-content: center; /* центрируем ряд карток */
  gap: 24px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-img {
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

/*--> Footer <--*/

.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start; /* блоки один за одним */
  margin: 0 auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Лівий блок */
.footer-box {
  max-width: 264px;
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .webstudio {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}

/* Правий блок (соцмережі) */
.footer-social {
  display: block;
  gap: 16px;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-items {
}

.social-linl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-linl:hover,
.social-linl:focus {
  background-color: #31d0aa;
}

.footer-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}
/* блок введення email */

.emeil-footer {
  width: 453px;
  height: 80px;
  margin-left: 80px;
}

.input-list-footer {
  display: flex; /* вирівнюємо елементи в ряд */
  gap: 24px; /* відстань між input і button */
  align-items: center; /* вирівнювання по вертикалі */
}
.icon-telegram {
  margin-left: 16px;
}
/* стиль для custom checkbox */
input[type="checkbox"].visually-hidden:checked + label .custom-checkbox {
  background-color: var(--color-background, #404bbf);
  border: none;
}

input[type="checkbox"].visually-hidden:checked + label .custom-checkbox svg {
  fill: var(--color-icon, #f4f4fd);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.form-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;

  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background: #2e2f42;
  padding: 8px 16px; /* зверху/знизу 8px, ліворуч/праворуч 16px */
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

.form-input:focus {
  border: 2px solid #31d0aa; /* зелений */
}

.subscribe-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

.subscribe-footer:hover,
.subscribe-footer:focus {
  background-color: #31d0aa;
}
/* BACKDROP */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;

  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%) scale(1.5);
}

.element-close-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px; /* 24px від верху */
  right: 24px;
  background-color: #e7e9fc;
}

.element-close-backdrop:hover,
.element-close-backdrop:focus {
  border: none;
  background-color: #404bbf;
}
.element-close-backdrop:hover .icon-backdrop,
.element-close-backdrop:focus .icon-backdrop {
  fill: #ffffff;
}

.icon-backdrop {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 8px;
  height: 8px;
}

.text-backdrop {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.div-name {
  margin-bottom: 8px;
}

.label-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-box-back {
  position: relative;
}

.textareamarg {
  margin-bottom: 16px;
}

.input-back {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-clas {
}

.text-area {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  padding: 8px 16px;
  resize: none;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.text-area:focus {
  border-color: #4d5ae5;
}

.input-back:focus {
  border-color: #4d5ae5;
}

.check-block {
  width: 360px;
  height: 16px;
  margin-bottom: 24px;
}

.text-back-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.highlight {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  width: 16px;
  height: 16px;
}

.icon-name {
  width: 18px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.input-back:focus + .icon-name {
  fill: #4d5ae5;
}

.send-btn {
  display: block;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;

  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover,
.send-btn:focus {
  background: #404bbf;
}

.check-block input[type="checkbox"] {
  vertical-align: middle;
}
.check-block label {
  vertical-align: middle;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

input:checked + label .custom-checkbox {
  background-color: var(--color-background, #404bbf);
  border: none;
  fill: var(--color-icon, #f4f4fd); /* додано fill для span */
}

input:checked + label .custom-checkbox svg {
  fill: var(--color-icon, #f4f4fd); /* для svg */
}
.privacy-link {
  color: var(--link-color, #4d5ae5);
}

.icon-custom {
}
